---
layout: home.liquid
title: Home - Shaun Chong
---
<p class="mb-7">
  I'm a software developer from Malaysia. This is a place for my non-technical writing. You can find my technical posts
  <a target="_blank" href="{{ metadata.author.urls.tech }}">here</a>.
</p>
<p class="mb-7">I'm also a language learner, so you'll find posts in different languages.</p>

<p class="mb-16">
  <a href="mailto:{{ metadata.author.email }}">Message me</a> if you'd like to chat about languages, writing, or
  anything interesting. You can also find me on my
  <a target="_blank" href="{{ metadata.author.urls.portfolio }}">website</a>,
  <a target="_blank" href="{{ metadata.author.urls.github }}">GitHub</a> and
  <a target="_blank" href="{{ metadata.author.urls.x }}">X</a>.
</p>

<h2 class="font-bold mb-5">Recent Posts</h2>

<ul class="flex flex-col gap-2">
  {% assign recentPosts = collections.post | reverse | slice: 0, 10 %}
  {% for item in recentPosts %}
    <li class="block">
      <a class="nonchalant flex justify-between items-center" href="{{ item.url }}">
        <span class="block">{{ item.data.title }}</span>
        <span class="block text-gray-500">{{ item.data.date | dayMonth }}</span>
      </a>
    </li>
  {% else %}
    <li>The collection is empty.</li>
  {% endfor %}
</ul>
