{% assign i18n = languages[lang] %}
<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
    </title>

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="mx-auto max-w-160">
      {% include 'partials/header.liquid' %}

      <div class="mb-8 prose max-w-none">
        {{ content }}
      </div>

      {% assign previousPost = collections.post | getPreviousCollectionItem: page %}
      {% assign nextPost = collections.post | getNextCollectionItem: page %}
      {% if previousPost -%}
        <p>
          {{ i18n.previous }}: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        </p>
      {%- endif %}
      {% if nextPost -%}
        <p>
          {{ i18n.next }}: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </p>
      {%- endif %}

      {% include 'partials/footer.liquid' %}
    </div>
  </body>
</html>
