---
layout: base.liquid
---
<div class="mb-8">
  {{ content }}
</div>

{% assign previousPost = collections.post | getPreviousCollectionItem: page %}
{% assign nextPost = collections.post | getNextCollectionItem: page %}
{% if previousPost -%}
  <p>
    Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
  </p>
{%- endif %}
{% if nextPost -%}
  <p>
    Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
  </p>
{%- endif %}
